<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRYPT.IT</title>
  <link rel="stylesheet" href="/assets/homePageStyle.css">
</head>

<body>
  <div class="grainy-overlay"></div>
  <header class="center">
    <div class="headerMain">
      <h1 class="header1">Crypt.IT 2024</h1>
    </div>
    <p></p>
    <div class="date-range">
      <p class="date1">12:00 noon 3 July to 12:00 noon 4 July</p>
    </div>
    <div class="container1">
      <a href="/sign-up"><button class="sign-up">
          <img class="whiteCorener1" src="assets/cornerBlue.svg" alt="">
          <img class="whiteCorener2" src="assets/cornerBlue.svg" alt="">
          <img class="whiteCorener3" src="assets/cornerBlue.svg" alt="">
          <img class="whiteCorener4" src="assets/cornerBlue.svg" alt="">
          Sign Up
        </button></a>
      <a href="/login"><button class="login">
          Login
          <img class="whiteCorener1" src="assets/cornerBlue.svg" alt="">
          <img class="whiteCorener2" src="assets/cornerBlue.svg" alt="">
          <img class="whiteCorener3" src="assets/cornerBlue.svg" alt="">
          <img class="whiteCorener4" src="assets/cornerBlue.svg" alt="">
        </button></a>
    </div>
  </header>

  <main class="center">
  </main>

  <footer class="center">
  </footer>
</body>
<script>
  
</script>

</html>