<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypt.IT 2024</title>
    <link rel="stylesheet" href="/assets/sign-upStyle.css">
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
    <style>
        .spinner {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 16px solid #f3f3f3;
            border-top: 16px solid #549DC6;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            animation: spin 2s linear infinite;
            z-index: 1000;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .loading {
            pointer-events: none;
            opacity: 0.6;
        }

        .sign-up-btn {
            pointer-events: none;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="header1">Crypt.IT 2024</h1>
        <h1 class="header2">Crypt.IT 2024</h1>
        <div class="dates">
            <p class="date1">11:59 pm 1 July to 11:59 pm 2 July</p>
            <p class="date2">11:59 pm 1 July to 11:59 pm 2 July</p>
        </div>
        <div class="main-content">
            <div class="avatar-section">
                <div class="name-container">
                    <img class="whiteCorener1" src="assets/corner.svg" alt="">
                    <img class="whiteCorener2" src="assets/corner.svg" alt="">
                    <img class="whiteCorener3" src="assets/corner.svg" alt="">
                    <img class="whiteCorener4" src="assets/corner.svg" alt="">
                    <div id="sukhdev-name1" style="font-size: 30px; text-align: left; text-shadow: 2px 2.5px 0px #549DC6;">Name</div>
                    <div id="discord-id" style="font-size: 20px; text-align: left; color: #549DC6;">discord-id</div>
                </div>
            </div>


            <form class="form-container" action="/sign-up" method="POST">

                <div class="form" id="signup-form">
                    <img class="whiteCorener1" src="assets/corner.svg" alt="">
                    <img class="whiteCorener2" src="assets/corner.svg" alt="">
                    <img class="whiteCorener3" src="assets/corner.svg" alt="">
                    <img class="whiteCorener4" src="assets/corner.svg" alt="">
                    <div>
                        <img class="whiteCorener1" src="assets/corner.svg" alt="">
                        <img class="whiteCorener2" src="assets/corner.svg" alt="">
                        <img class="whiteCorener3" src="assets/corner.svg" alt="">
                        <img class="whiteCorener4" src="assets/corner.svg" alt="">
                        
                        <input onkeyup="discordFunc()" type="text" id="name" name="name" placeholder="Name">

                    </div>
                    <div>
                        <img class="whiteCorener1" src="assets/corner.svg" alt="">
                        <img class="whiteCorener2" src="assets/corner.svg" alt="">
                        <img class="whiteCorener3" src="assets/corner.svg" alt="">
                        <img class="whiteCorener4" src="assets/corner.svg" alt="">
                        
                        <input type="email" id="email" name="email" placeholder="Email">

                    </div>
                    <div><img class="whiteCorener1" src="/assets/corner.svg" alt="">
                        <img class="whiteCorener2" src="/assets/corner.svg" alt="">
                        <img class="whiteCorener3" src="/assets/corner.svg" alt="">
                        <img class="whiteCorener4" src="/assets/corner.svg" alt="">
                        
                        <input onkeyup="discordFunc()" type="text" name="discordId" id="discord-id-input" placeholder="Discord ID">

                    </div>
                    <div><img class="whiteCorener1" src="/assets/corner.svg" alt="">
                        <img class="whiteCorener2" src="/assets/corner.svg" alt="">
                        <img class="whiteCorener3" src="/assets/corner.svg" alt="">
                        <img class="whiteCorener4" src="/assets/corner.svg" alt="">
                        
                        <input type="password" id="password" name="password" placeholder="Password">

                    </div>
                </div>
                <div class="level">
                    <p class="level">Level</p>
                    <p class="level1">Level</p>
                    <p class="level2">00/18</p>
                </div>
                <button id="sign-up-btn" type="submit">
                    Sign Up
                    <img class="whiteCorener1" src="/assets/corner.svg" alt="">
                    <img class="whiteCorener2" src="/assets/corner.svg" alt="">
                    <img class="whiteCorener3" src="/assets/corner.svg" alt="">
                    <img class="whiteCorener4" src="/assets/corner.svg" alt="">
                </button>
            </form>
        </div>
        <p id="success-message" class="success-message" style="display: none;">Form submitted successfully!</p>
        <p id="error-message" class="error-message" style="display: none;">All fields are required.</p>
    </div>
    <div class="spinner" id="spinner"></div>

    <script>
        function discordFunc() {
            const discordId = document.getElementById("discord-id")
            const userEdit = document.getElementById("sukhdev-name1")
            const user = document.getElementById("name")
            const discordIdInput = document.getElementById("discord-id-input")

            discordId.innerHTML = discordIdInput.value
            userEdit.innerHTML = user.value
        }
    </script>
</body>

</html>