@font-face {
  font-family: 'Mouse';
  src: url('/assets/mouse-webfont.woff') format('woff'),
  url('/assets/mouse-webfont.woff2') format('woff2');
}

body {
    background-color: #0F0F0F;
    color: #E6E3DB;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: -100px;
    font-family: 'Mouse', sans-serif;
    
  }
  
  
  .center {
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .container button {
    text-align: center;

  }
  
  .header1 {
    font-size: 6.5em;
    text-shadow: 5px 3px 0px #549DC6;
  }
  
  p {
    font-size: 3em;
    margin-top: -20px;
  }
  


  .date1{
    margin-top: 10px;
    text-shadow: 3px 3px 0px #549DC6;

  }
  .date2{
    margin-top: -100px;
    margin-right: 8px;
    color: #549DC6;
    opacity: 100%;
  }
  
  .login {
    font-family: 'Mouse', sans-serif;
    background-color: #549DC6;
    border: 3px solid #549DC6;
    color: #E6E3DB;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 1.5em;
    position: relative;
  }

  .sign-up {
    font-family: 'Mouse', sans-serif;
    background-color: #549DC6;
    border: 3px solid #549DC6;
    color: #E6E3DB;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 1.5em;
    position: relative;
  }

  
.whiteCorener1{
  position: absolute;
  width: 9px;
  left: -3px;
  top: -3px;
}
.whiteCorener2{
  position: absolute;
  width: 9px;
  right: -3px;
  top: -3px;
  transform: rotate(90deg);
}
.whiteCorener3{
  position: absolute;
  width: 9px;
  right: -3px;
  bottom: -3px;
  transform: rotate(180deg);
}
.whiteCorener4{
  position: absolute;
  width: 9px;
  left: -3px;
  bottom: -3px;
  transform: rotate(270deg);
}
